{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="assets/css/plateau-de-jeu.css" rel="stylesheet" />
{% endblock %}

{% block body %}
 {# <div id="modal-sort" class="informations-sort">
    <div class="testmodal">
        <div class="sort">
            <div class="ingredient-sort">
                <img src="/assets/image/mandragorefini.png" alt=""/>
                <i class="fas fa-plus-circle"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
            </div>
                <i class="fas fa-equals"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
                Invisibilité
        </div>
        <div class="sort">
            <div class="ingredient-sort">
                <img src="/assets/image/mandragorefini.png" alt=""/>
                <i class="fas fa-plus-circle"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
            </div>
                <i class="fas fa-equals"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
                Invisibilité
            </div>
            <div class="sort">
                <div class="ingredient-sort">
                    <img src="/assets/image/mandragorefini.png" alt=""/>
                    <i class="fas fa-plus-circle"></i>
                    <img src="/assets/image/lapis1fini.png" alt=""/>
                </div>
                    <i class="fas fa-equals"></i>
                    <img src="/assets/image/lapis1fini.png" alt=""/>
                    Invisibilité
                </div>
                <div class="sort">
                    <div class="ingredient-sort">
                        <img src="/assets/image/mandragorefini.png" alt=""/>
                        <i class="fas fa-plus-circle"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                    </div>
                        <i class="fas fa-equals"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                        Invisibilité
                </div>
                    <div class="sort">
                        <div class="ingredient-sort">
                            <img src="/assets/image/mandragorefini.png" alt=""/>
                            <i class="fas fa-plus-circle"></i>
                            <img src="/assets/image/lapis1fini.png" alt=""/>
                        </div>
                        <i class="fas fa-equals"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                        Invisibilité
                </div>
             </div>
         </div> #}
    <div class="adversaire-top">
        <div class="container-avatar-joueur-plateau">
            <img src="/assets/image/carte-joueur-avatar.png" alt=""/>
            <img class="avatar-joueur-plateau" src="/assets/image/ava5.jpg" alt=""/>
            <span>Player 2</span>
        </div>
            <div class="carte-adversaire">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
                <img src="/assets/image/carte-dos.png" alt="">
            </div>
    </div>
    <div class="adversaire-side">

    </div>
    <div class="joueur-bottom">
        <div class="container-avatar-joueur-plateau">
            <img src="/assets/image/carte-joueur-avatar.png" alt=""/>
            <img class="avatar-joueur-plateau" src="/assets/image/ava5.jpg" alt=""/>
            <span>Player 1</span>
        </div>
        <div class="carte-joueur">
            <img src="/assets/image/mandragorefini.png" alt=""/>
            <img src="/assets/image/lapis1fini.png" alt=""/>
            <img src="/assets/image/chauvesourisfini.png" alt=""/>
            <img src="/assets/image/cornefini.png" alt=""/>
            <img src="/assets/image/crapaudfini.png" alt=""/>
            <img src="/assets/image/mandragorefini.png" alt=""/>
            <img src="/assets/image/lapis1fini.png" alt=""/>
            <img src="/assets/image/chauvesourisfini.png" alt=""/>
            <img src="/assets/image/cornefini.png" alt=""/>
            <img src="/assets/image/crapaudfini.png" alt=""/>
                <img src="/assets/image/mandragorefini.png" alt=""/>
            <img src="/assets/image/lapis1fini.png" alt=""/>
            <img src="/assets/image/chauvesourisfini.png" alt=""/>
            <img src="/assets/image/cornefini.png" alt=""/>
            <img src="/assets/image/crapaudfini.png" alt=""/>
        </div>
    </div>

{% endblock %}
